.users-database {
  margin: 10px;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, auto);
  input {
    outline: 1px solid black;
    width: 200px;
  }
  gap: 10px;
}

.users-database--search {
  grid-column: 1/-1;
}

.users-database__name-inputs {
  display: flex;
  flex-direction: column;
}

.users-database__data-table {
  outline: 1px solid black;
  padding: 5px;
  overflow-y: scroll;
}

.users-database__buttons {
  display: flex;
  gap: 5px;
  button {
    all: revert;
  }
}
